* {
    font-family: Helvetica;
}

body {
    margin: 0;
}

.baner,
footer {
    background-color: Saddlebrown;
    color: white;
    text-align: center;
    padding: 7px;
}

.lewyMenu {
    background-color: Peru;
    width: 80%;
    height: 40px;
    padding-top: 20px;
}

.lewyGlowny {
    width: 80%;
    font-size: 120%;
    height: 700px;
    overflow: auto;
}

.prawy1 {
    background-color: peru;
    color: white;
    width: 20%;
    height: 760px;
    float: right;

}

a {
    color: #DDD;
    padding-left: 90px;
    font-size: 140%;
    text-decoration: none;
}

a:hover {
    color: white;
}

img {
    float: left;
    margin: 30px; /* added */
}